/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Cardo:ital@1&family=Open+Sans:wght@700&family=Raleway:wght@300;400;700&display=swap");

/* variable */
:root {
  --main-color: #db4437;
  --text-color: #808080;
}
/* basic reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}
ul {
  list-style-type: none;
}
i {
  cursor: pointer;
}

/* utility */
.btn {
  cursor: pointer;
  background: var(--main-color);
  padding: 15px 35px;
  font-size: 1.1rem;
  color: #fff;
  text-transform: uppercase;
  border: none;
}

.btn:hover {
  background-color: #db4537c5;
}

body {
  font-family: "Raleway", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* header section */
header {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  background-image: url(/images/header.jpg);
  color: #fff;
}
header nav {
  display: flex;
  justify-content: space-between;
  width: 65%;
  padding: 30px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.171);
}
.main-navigation {
  display: flex;
  justify-content: space-between;
  flex: 0 0 50%;
}

.main-navigation li a {
  color: #fff;
  text-transform: uppercase;
}

header h1 {
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 4rem;
  width: 50%;
  margin-top: 150px;
  text-align: center;
}

header p {
  width: 50%;
  text-align: center;
  padding: 20px 0;
  font-size: 1.2rem;
}

header button {
  margin-top: 50px;
  margin-bottom: 150px;
}
/* benefits section */

.benefits {
  width: 65%;
  margin: 150px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.benefit {
  flex: 0 0 30%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 25px 30px;
  text-align: center;
}

.benefit h4 {
  padding: 30px 0;
  text-transform: uppercase;
  font-weight: bold;
}

.benefit p {
  line-height: 1.3;
  color: var(--text-color);
}
/* gallery section */

.gallery {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.image {
  flex: 0 0 25%;
  height: 20rem;
  background-image: url(/images/work1.jpg);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #fff;
}
.image:nth-child(2) {
  background-image: url(/images/work2.jpg);
}
.image:nth-child(3) {
  background-image: url(/images/work3.jpg);
}
.image:nth-child(4) {
  background-image: url(/images/work4.jpg);
}
.image:nth-child(5) {
  background-image: url(/images/work5.jpg);
}
.image:nth-child(6) {
  background-image: url(/images/work6.jpg);
}
.image:nth-child(7) {
  background-image: url(/images/work7.jpg);
}
.image:nth-child(8) {
  background-image: url(/images/work8.jpg);
}
.image:hover {
  background-image: linear-gradient(#db4537da, #db4537da),
    url(/images/work1.jpg);
}

.image-title {
  display: none;
  text-align: center;
  color: #fff;
}

.image:hover .image-title {
  display: block;
}
.image h5 {
  font-size: 1.1rem;
  text-transform: uppercase;
  font-weight: bold;
  padding-bottom: 10px;
}

/* team section */
.team {
  width: 65%;
  display: flex;
  justify-content: center;
  margin: 150px 0;
}
.team article {
  flex: 0 0 22%;
  margin: 0 20px;
}
.team article p {
  color: var(--text-color);
}
.name {
  padding: 30px 0;
}

.name h4 {
  font-size: 1.5rem;
  font-weight: 300;
}

.name small {
  color: var(--main-color);
  text-transform: uppercase;
}

.social {
  margin: 30px 0;
}

.social i {
  color: #b6b3b3;
  border: 1px solid #b6b3b3;
  padding: 8px 12px;
}

/* carousel */

.carousel {
  display: flex;
  width: 100%;
  height: 60vh;
}
.carousel > div {
  flex: 0 0 50%;
}

.person-img {
  height: 100%;
  width: 100%;
}

.quotes-section {
  flex: 0 0 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 100px;
  background-color: rgb(47, 12, 29);
  color: #fff;
}

.quote > p {
  font-size: 2rem;
  font-family: "Cardo", serif;
}

.customer {
  display: flex;
  padding: 40px 0;
}
.customer p {
  padding-right: 5px;
}

.carousel-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.carousel-nav div {
  width: 7px;
  height: 7px;
  background-color: #fff;
  margin: 0 5px;
  border-radius: 50%;
}
/* start */

.start {
  margin: 150px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.start h2 {
  font-weight: 300;
  font-size: 2rem;
}
.start h5 {
  padding: 10px 0 30px;
  text-transform: uppercase;
}
/* footer */
footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-top {
  width: 100%;
  background-color: #302a4b;
  display: flex;
  justify-content: center;
}
.footer-top .container {
  width: 45%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #fff;
  padding: 50px 0;
}
.container article {
  flex: 0 0 30%;
  text-align: center;
}

.container article h3 {
  text-transform: uppercase;
  padding-bottom: 30px;
  font-size: 0.9rem;
}
.container article p {
  color: var(--text-color);
}

.container article .social {
  margin: 0;
}
.container article .social i {
  border: 1.5px solid #fff;
}

/* footer bottom */

.footer-bottom {
  background-color: #25213a;
  width: 100%;
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px 0;
}

.footer-bottom p i {
  color: var(--main-color);
}
.footer-bottom p a {
  color: #fff;
}

@media (max-width: 375px) {
  header nav {
    width: 90%;
  }
  .main-navigation {
    display: none;
  }
  header h1 {
    font-size: 1.7rem;
    width: 100%;
    margin-top: 50px;
  }
  header p {
    width: 100%;
    padding: 40px 20px;
  }
  .benefits {
    width: 100%;
    flex-direction: column;
    margin: 50px 0;
  }
  .image {
    flex: 100%;
  }
  .team {
    margin: 50px 0;
    flex-direction: column;
    align-items: center;
  }

  .carousel {
    flex-direction: column;
    height: 100vh;
    margin: 50px 0;
  }
  .quotes-section {
    width: 100%;
    padding: 0 20px;
  }
  .quote {
    width: 90%;
  }
  .quote > P {
    font-size: 1.4rem;
    width: 100%;
    height: 10rem;
  }
  .start {
    margin: 50px 0;
  }
  .start h2 {
    font-size: 1.4rem;
    text-align: center;
  }
  .footer-top .container {
    flex-direction: column;
    padding: 50px 0;
  }
  .footer-top .container article {
    margin-bottom: 30px;
  }
  .footer-bottom p {
    width: 70%;
    text-align: center;
    padding: 10px 0;
  }
}
